---
// Styles
import '../styles/global.css';
// Fonts
import '@fontsource-variable/jetbrains-mono';
import '@fontsource-variable/nunito';
import '@fontsource-variable/inter';
// Astro Components
import { SEO } from 'astro-seo';
// React Components
import LanguagePicker from '../components/LanguagePicker';
// i18n
import { useTranslation } from '../utils/i18n';
import LogoLink from '../components/LogoLink.astro';
import NavLink from '../components/NavLink.astro';

export interface Props {
  title: string;
  description: string;
  roPathname: string;
  enPathname: string;
  children: any;
}

const locale = Astro.currentLocale;
const { title, description, roPathname, enPathname } = Astro.props;

const t = useTranslation(Astro.currentLocale as 'ro' | 'en');

const displayLanguage = Astro.currentLocale === 'en' ? 'lang.en' : 'lang.ro';
---

<!doctype html>
<html lang={locale} dir='ltr'>
  <head>
    <SEO
      title={title}
      titleDefault='Devegion'
      description={description}
      titleTemplate='%s - Devegion'
    />
    <meta charset='UTF-8' />
    <meta content='width=device-width' name='viewport' />
    <link href='/favicon.svg' rel='icon' type='image/svg+xml' />
    {/* Links to same page but in different language. */}
    <link rel='alternate' hreflang='ro' href={new URL(roPathname, Astro.url.origin)} />
    <link rel='alternate' hreflang='en' href={new URL(enPathname, Astro.url.origin)} />
    {/* Script that contains JSON-DL. */}
    <slot name='json-ld' />
    <meta name='generator' content={Astro.generator} />
  </head>
  <body class='font-body bg-primary-background text-primary-foreground'>
    <nav class='bg-primary-dark-background text-primary-dark-foreground w-full py-4'>
      <div
        class='mx-auto grid h-full w-[90%] grid-cols-2 items-center sm:w-[85%] lg:grid-cols-[1fr_3fr_1fr]'>
        <div class='justify-self-start'>
          <LogoLink />
        </div>
        <div class='hidden items-center justify-center gap-10 lg:flex'>
          <NavLink href={t('nav.contact.link')}>{t('nav.services')}</NavLink>
          <NavLink href={t('nav.blog.link')}>{t('nav.blog')}</NavLink>
          <NavLink href={t('nav.community.link')}>{t('nav.community')}</NavLink>
          <NavLink href={t('nav.contact.link')}>{t('nav.contact')}</NavLink>
        </div>
        <div class='justify-self-end'>
          <LanguagePicker
            displayLanguage={t(displayLanguage)}
            enLink={{ text: t('lang.en'), url: new URL('/en', Astro.url.origin) }}
            roLink={{ text: t('lang.ro'), url: new URL('/', Astro.url.origin) }}
            client:load
          />
        </div>
      </div>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
